@use "../../../components/variables" as v;

.projects-sidebar {
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 100%;
    padding: 8px;
    background: v.$sidebar-background-light;
}
