@use "../../../components/variables" as v;

.projects-sidebar {
    display: flex;
    flex-direction: column;
    width: 224px;
    height: calc(100% - 16px); // 16px from padding below
    padding: 8px;
    background: v.$sidebar-background-light;
}

.sidebar-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
}
.group-title {
    font-weight: 700;
    font-size: 11px;
    color: v.$sidebar-text-light-1;
    margin: 0 0 6px 18px;
}
