@use "../../../components/variables" as v;
.issues-table {
    width: 100%;
    overflow: auto;
    max-height: calc(100% - 145px); // 145px = height of IssuesHeader

    &[isEmpty="true"] {
        height: calc(100% - 145px);
        max-height: none;
    }

    .table-footer {
        width: 100%;
        display: flex;
        position: sticky;
        left: 0;
        padding: 16px 0;
        border-top: 2px solid #dfe1e6;
        & > div {
            margin: 0 auto;
            font-size: 14px;
            color: v.$projects-text-light-1;
            font-weight: 500;
        }
    }
    .pagination-container {
        margin-right: 0 !important;
    }

    .no-data {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        .no-data-text {
            font-size: 20px;
            margin-top: 28px;
        }
    }
}
