@use "../../components/variables" as v;

.search-bar {
    border: 2px solid #dfe1e6;
    border-radius: 5px;
    height: 32px;
    padding: 0 12px 0 30px;
    position: relative;
    display: flex;
    align-items: center;

    input {
        border: none;
        outline: none;
        font-size: 14px;
    }
    .searchbar-icon {
        position: absolute;
        left: 4px;
        top: 6px;
        height: 20px;
        width: 20px;
    }
}
.search-bar-active {
    border: 2px solid v.$search-bar-active-outline;
}
