@use "../variables" as v;

.dropdown-button {
    color: v.$header-button-text-light;
    white-space: nowrap;
    height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 6px;

    p {
        padding: 4px;
        border-radius: 3px;
        color: v.$header-button-text-light;
        font-weight: 500;
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 14px;
        &::after {
            border: solid v.$header-button-text-light;
            border-width: 0 1px 1px 0;
            margin-left: 6px;
            padding: 2px;
            content: "";
            display: inline-block;
            transform: rotate(45deg);
        }
        &:hover {
            color: v.$header-active-button-text-light;
            background: v.$header-active-button-background-light;
        }
    }
}
.dropdown-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: v.$header-button-background-light;
    padding: 10px 20px;
    box-shadow: var(--ds-shadow-overlay, 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31));
}
