$background-light-1: #ffffff;
$background-light-2: #deebffe6;
$text-light-1: #344563;
$text-light-2: #0052cc;
$text-light-3: #7a869a;
$text-light-4: #5e6c84;
$search-bar-active-outline: #4c9aff;

$border-light-1: #dfe1e6;
$border-light-2: #b3bac5;
$border-light-3: #ebecf0;

$sidebar-text-light-1: #42526e;
$sidebar-text-light-2: #6b778c;
$sidebar-background-light: #fafbfc;
$sidebar-active-link-background-light: #e6effc;

$breadcrumbs-text-light-1: #8993a4;

$projects-text-light-1: #172b4d;
$projects-dropdown-background-light-1: #091e420a;
$projects-dropdown-background-light-2: #091e4214;
$projects-dropdown-background-light-4: #091e4221;
$projects-dropdown-background-light-3: #253858;
$projects-dropdown-text-light-1: #f4f5f7;

$issue-overdue-background-light: #ffebe6;
$epic-background-light-1: #eae6ff;
$epic-text-light-1: #403294;
$completed-background-light-1: #00875a;
