$background-light-1: #ffffff;
$background-light-2: #deebffe6;
$text-light-1: #344563;
$text-light-2: #0052cc;
$text-light-3: #7a869a;
$search-bar-active-outline: #4c9aff;

$border-light-1: #dfe1e6;
$border-light-2: #b3bac5;

$sidebar-text-light-1: #42526e;
$sidebar-text-light-2: #6b778c;
$sidebar-background-light: #fafbfc;
$sidebar-active-link-background-light: #e6effc;

$breadcrumbs-text-light-1: #8993a4;

$projects-text-light-1: #172b4d;
$projects-dropdown-background-light-1: #091e420a;
$projects-dropdown-background-light-2: #091e4214;
$projects-dropdown-background-light-3: #253858;
$projects-dropdown-text-light-1: #f4f5f7;
