@use "../../../variables" as v;

.issues-table {
    display: flex;
    flex-direction: column;
    width: 100%;

    .table-row {
        display: flex;
        font-size: 14px;
        font-weight: 500;
        width: 1608px;
    }
    .table-header {
        color: v.$projects-text-light-1;
        border-bottom: 2px solid v.$border-light-1;
        margin-bottom: 2px;
        padding-bottom: 4px;
        position: sticky;
        top: 0;
        background: white;
        & > div {
            display: flex;
            & > div {
                display: flex;
                align-items: center;
                padding-left: 8px;
                width: max-content;
                border-radius: 3px;
                cursor: pointer;
                &:hover {
                    background: v.$projects-dropdown-background-light-2;
                    img {
                        visibility: visible;
                        opacity: 0.6;
                    }
                }
            }
            img {
                width: 24px;
                height: 24px;
                visibility: hidden;
            }
        }
        .active-filter {
            & > div {
                background: v.$projects-dropdown-background-light-2;
                img {
                    visibility: visible;
                    opacity: 1 !important;
                }
            }
        }
        .descending-order {
            img {
                transform: rotate(180deg);
            }
        }
    }

    .table-data {
        display: flex;
        flex-direction: column;
        .table-row {
            font-weight: 400 !important;
            padding: 10px 0;
            &:hover {
                background: v.$projects-dropdown-text-light-1;
            }
            & > div {
                display: flex;
                align-items: center;
                & > div {
                    display: flex;
                    align-items: center;
                    padding-left: 8px;
                    width: max-content;
                }
            }
            .type {
                img {
                    width: 16px;
                    height: 16px;
                }
            }
            .key {
                color: v.$sidebar-text-light-2;
                font-size: 12px;
                font-weight: 600;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .summary {
                a {
                    color: v.$text-light-2;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .username-icon {
                img {
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
            }
            .priority {
                img {
                    padding-left: 8px;
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .active-row {
            background: v.$background-light-2;
            box-shadow: inset 2px 0 rgba(13, 20, 36, 0.63);
            &:hover {
                background: v.$background-light-2;
            }
        }
    }

    .type {
        min-width: 66px;
    }
    .key {
        min-width: 96px;
    }
    .summary {
        min-width: 452px;
    }
    .assignee {
        min-width: 170px;
    }
    .reporter {
        min-width: 170px;
    }
    .priority {
        min-width: 42px;
    }
    .status {
        min-width: 140px;
    }
    .resolution {
        min-width: 106px;
    }
    .created-on {
        min-width: 106px;
    }
    .updated-on {
        min-width: 106px;
    }
    .due-on {
        min-width: 106px;
    }
    .options {
        min-width: 48px;
    }
}
